﻿<div class="view">
    <h1 *ngIf="!allOfTrips">Hi {{currentUser.firstName}}! These are
        {{scopeUser ? scopeUser.firstName : ''}}
        {{scopeUser ? scopeUser.lastName : ''}}'s Trips</h1>

    <h1 *ngIf="allOfTrips">Hi {{currentUser.firstName}}! These are All Trips</h1>

    <div class="filter-tools-container">
        <div class="btn-group btn-group-toggle fetch-switch"
             ngbRadioGroup name="radioBasic"
             [(ngModel)]="timeSlot"
             (change)="switchOption()">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> All
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> Future
            </label>
        </div>
        <div class="btn-tools-group">
            <button class="print-btn btn btn-primary" (click)="print()">Print</button>
            <button class="reset-btn btn btn-secondary" (click)="resetFilters()">Reset Filters</button>
            <button class="back-btn btn btn-secondary" (click)="backToAdminPage()">Back</button>
        </div>
    </div>
    <div class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source"
                         (createConfirm)="onCreateConfirm($event)"
                         (editConfirm)="onUpdateConfirm($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </div>
</div>
