.banner {
    width: 30%;
    position: absolute;
    z-index: 713;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

.alert {
    margin-bottom: 5px;
}
