<div class="input-group">
    <input
        [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        [(ngModel)]="inputModel"
        placeholder="{{placeholder}}"
        readonly
        class="form-control custom-datepicker">
</div>
<owl-date-time #dt [pickerType]="'calendar'" (afterPickerClosed)="onChange()">
</owl-date-time>
