.view {
    padding: 20px 0 0 5%;
}

.smart-table-container {
    width: 90%;
    padding-top: 40px;
    padding-left: 40px;
}

.filter-tools-container {
    width: 95%;
    padding: 10px 0 0 0;
    min-height: 50px;
}

.btn-tools-group {
    margin-right: 17px;
    float: right;
}

.all-trips-btn,
.reset-btn {
    margin-right: 20px;
}

:host /deep/ .password-cell {
    color: lightgrey;
}

:host /deep/ .ng2-smart-action {
    padding: 0 5px 0 0;
}

:host /deep/ .page-link-prev {
    font-size: 14px !important;
}

:host /deep/ .page-link-next {
    font-size: 14px !important;
}

:host /deep/ .ng2-smart-pagination-nav {
    position: absolute;
    top: 142px;
    left: 45%;
}

:host /deep/ input[placeholder="Link"]:disabled {
    display: none;
}

:host /deep/ .ng2-smart-actions-title-add {
    max-width: 105px;
    padding: 0 0 0 1em;
}

:host /deep/ .ng2-smart-actions {
    max-width: 125px;
    padding: 0 0 0 1em;
}
