<div class="view">
    <h1>Hi {{currentUser.firstName}}!</h1>

    <div class="filter-tools-container">
        <div class="btn-tools-group">
            <button class="all-trips-btn btn btn-primary"
                    (click)="viewAllTrips()">View All Trips</button>
            <button class="reset-btn btn btn-secondary"
                    (click)="resetFilters()">Reset Filters</button>
        </div>
    </div>
    <div class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source"
                         (createConfirm)="onCreateConfirm($event)"
                         (editConfirm)="onUpdateConfirm($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </div>
</div>
