﻿
<!-- alert message -->
<app-alert></app-alert>

<!-- nav -->
<nav *ngIf="currentUser" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a (click)="logout()" class="nav-link">Logout</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="managerPermission(currentUser.role)" class="nav-item">
            <a (click)="manage()" class="nav-link" routerLink="/administration">
                Administration
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Dashboard</a>
        </li>
        <li class="nav-item">
            <a (click)="profile()" class="nav-link" routerLink="/profile">
                Profile
            </a>
        </li>
    </ul>
</nav>

<!-- main app container -->
<div>
    <router-outlet></router-outlet>
</div>
