<div class="col-sm-4 offset-sm-4">
    <br/>
    <h2>Update {{ currentUser.firstName }}'s Profile</h2>
    <br/>
    <form [formGroup]="updateProfileForm">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"/>
        </div>
        <div class="form-group">
            <label for="new-password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                   placeholder="Empty to Remain the Same"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="new-password"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label for="current-password"><Strong>Current Password</Strong></label>
            <input type="password" formControlName="currentPassword" class="form-control"
                   placeholder="Need to Double Check the Password"
                   [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" id="current-password"/>
            <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                <div *ngIf="f.currentPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button (click)="onSubmit()"
                    [disabled]="loading"
                    class="btn btn-primary">Update
            </button>
            <a routerLink="/" class="btn btn-link">Back</a>
            <button style="float: right"
                    (click)="confirmDelete(content)"
                    data-toggle="modal" data-target="#confirmDeletion"
                    class="btn btn-danger">
                Delete Account
            </button>
        </div>
    </form>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Profile deletion</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete
                <span class="text-primary">
                {{ currentUser.firstName + ' ' + currentUser.lastName }}
            </span>'s profile?</strong></p>
            <p>All information associated to this user profile will be permanently deleted.
                <span class="text-danger">This operation can not be restored.</span>
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="truncateCheck"
                       [ngModelOptions]="{standalone: true}" id="truncate-check">
                <label class="form-check-label" for="truncate-check">
                    Delete All Trips
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Delete Account</button>
        </div>
    </ng-template>
</div>
