﻿<div class="view">
    <h1>Hi {{currentUser.firstName}}!</h1>

    <div class="filter-tools-container">
        <div class="btn-group btn-group-toggle fetch-switch"
             ngbRadioGroup name="radioBasic"
             [(ngModel)]="timeSlot"
             (change)="switchOption()">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> All
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> Future
            </label>
        </div>
        <button class="reset-btn btn btn-secondary" (click)="resetFilters()">Reset Filters</button>
        <button class="print-btn btn btn-primary" (click)="print()">Print</button>
    </div>
    <div class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source"
                         (createConfirm)="onCreateConfirm($event)"
                         (editConfirm)="onUpdateConfirm($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </div>
</div>
