.view {
    padding: 20px 0 0 3%;
}

.smart-table-container {
    width: 95%;
    padding-top: 20px;
}

.filter-tools-container {
    width: 95%;
    padding: 10px 0 0 0;
    min-height: 50px;
}

.fetch-switch {
    padding: 0 0 0 13px;
}

.reset-btn {
    margin-right: 17px;
    float: right;
}

.print-btn {
    float: right;
    margin-right: 20px;
}

.smart-table-container {
    width: 95%;
    overflow-x: scroll;
}

:host /deep/ .ng2-smart-action {
    padding: 0 5px 0 0;
}

:host /deep/ .ng2-smart-actions-title-add {
    min-width: 100px;
}

:host /deep/ .page-link-prev {
    font-size: 14px !important;
}

:host /deep/ .page-link-next {
    font-size: 14px !important;
}

:host /deep/ .ng2-smart-pagination-nav {
    position: absolute;
    top: 142px;
    left: 43%
}

:host /deep/ input[placeholder="Days Left"] {
    display: none;
}

:host /deep/ .ng2-smart-actions-title-add {
    max-width: 105px;
    padding: 0 0 0 1em;
}

:host /deep/ .ng2-smart-actions {
    max-width: 105px;
    padding: 0 0 0 1em;
}
